@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15); 
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(45deg, #6366f1, #b674f9, #4f46e5, #7933ea);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}



.glow {
  filter: drop-shadow(0 0 2px #5b65e8);
  animation: glow 2s ease-in-out infinite;
 }

.scrollable-section {
  max-height: 400px; 
  overflow-y: auto;

}

::-webkit-scrollbar {
  display: none;
}



::-webkit-scrollbar-track {
  background: #2e374300;
}

::-webkit-scrollbar-thumb {
  background: #263f6400;
  border-radius: 4px; 
}


::-webkit-scrollbar-thumb:hover {
  background: #6b7280; 
}

.onclickbutton{
  cursor:pointer;
}

@media (max-width: 1920px){
  .dashtab {
    position: relative;
    left: 280px;
    top: 90px;

  }
  
}

@media (max-width: 680px) {
  .dashtab {
    left: 0px; 
    top: 125px; 

  }
}


